@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  0% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee 58s linear infinite;
}

.animate-marquee-slow:hover {
  animation-play-state: paused;
}

@keyframes marquee-left {
  0% { transform: translate3d(0%, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 48s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}

@keyframes marquee-right {
  0% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: marquee-right 48s linear infinite;
}

.animate-marquee-right:hover {
  animation-play-state: paused;
}

