@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lora", serif;
  --font-serif: "Cormorant Garamond", serif;
}

@variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  0% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee-left 68s linear infinite;
}

.animate-marquee-slow:hover {
  animation-play-state: paused;
}

@keyframes marquee-left {
  0% { transform: translate3d(0%, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 48s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}

@keyframes marquee-right {
  0% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: marquee-right 48s linear infinite;
}

.animate-marquee-right:hover {
  animation-play-state: paused;
}

